.footer {
    background: rgb(10,20,51);
    background: linear-gradient(135deg, rgba(10,20,51,1) 0%, rgba(5,97,137,1) 100%);    padding: 1.5rem 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: auto;
    width: 100%;
  }
  
  .university-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .university-address {
    font-size: 0.9rem;
    line-height: 1.5;
  }
