.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgb(10,20,51);
    background: linear-gradient(135deg, rgba(10,20,51,1) 0%, rgba(5,97,137,1) 100%);
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}

.login-button {
    background-color: #F2E0C9;
    color: #10243D;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover {
    opacity: 0.9;
}