<section class="max-w-md mx-auto p-6 bg-white shadow-lg rounded-2xl border border-gray-300">
  <div class="flex flex-col gap-4">
    <label for="codigo" class="text-3xl font-semibold">Código:</label>
    <input type="text" id="username" name="email" required
      class="border-2 rounded-xl p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">

    <label for="password" class="text-3xl font-semibold">Contraseña:</label>
    <input type="password" id="password" name="password" required
      class="border-2 rounded-xl p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
  </div>
</section>
