@import "tailwindcss";
:root {
  font-family: monospace;
  --white_greekvilla: #F0EBE3;
  --white_onwhite: #EDEFEF;
  --white_rose: #FFFAFA;         /*colores usados para test might as well delete them*/
  --white_dove: #F0EFE7;
  --titan_white: #EEEEFF;

  --azul_oscu:#140826;
  
  /* colores para tema claro */
  --background: var(--white_rose);
  --text: #333333;
  --border: #cccccc;
  --button-text: #333333;
  --button-hover: #568C30;
}

/*  colores para tema oscuro */
.dark-mode {
  --background: var(--azul_oscu);
  --text: #f0f0f0;
  --border: #444444;
  --button-text: #f0f0f0;
  --button-hover: #91BF4B;
  
  color: var(--text);
}
